
body {
    display: flex;
    justify-content: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .text-danger {
    color: red;
  }
  
  .input-field {
    position: relative;
    margin-top: 2rem;
  }
  
  .input-field input {
    padding: 0.8rem;
  }
  
  form .input-field:first-child {
    margin-bottom: 1.5rem;
  }
  
  form input[type="submit"] {
    background: linear-gradient(to left, #4776e6, #8e54e9);
    color: white;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.4rem;
  }
  